<html xmlns="http://www.w3.org/1999/xhtml" ng-app="CT4U">

<head>
    <title>CT4U</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/myStyles.css" rel="stylesheet" />
    <base href="/" />
</head>

<body ng-controller="AccountController as account">
    <div ng-controller="IndexController as index_controller">

        <div class="container" ng-include="'/html/header.html'"></div>

        <div class="container">
            {{index_controller.indexMessage}}
            <br />
        </div>

        <div class="container">
            <ui-view></ui-view>
        </div>

        <div class="container" ng-include="'/html/footer.html'"></div>

    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/services/services.js"></script>

    <!-- AngularJS Controller Files-->
    <script src="~/ngapp/controllers/angc_Controllers.js"></script>
    <script src="~/ngApp/controllers/angc_IndexController.js"></script>
    <script src="~/ngApp/controllers/angc_ProfileController.js"></script>
    <script src="~/ngApp/controllers/angc_ReceiptsController.js"></script>
    <script src="~/ngApp/controllers/angc_ProductsController.js"></script>
    <script src="~/ngApp/controllers/angc_ItemsController.js"></script>
    <script src="~/ngApp/controllers/angc_ReportController.js"></script>

    <!-- Security -->
    <script src="~/ngapp/controllers/angc_AccountController.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>

</html>