<h2>Register</h2>
<!--<p>
    {{register_controller.message}}
</p>-->
<br />

<!--<fieldset>
    <legend>Register with a Social Provider</legend>
    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="{{externalLogin.url}}">{{externalLogin.name}}</a>
        </li>
    </ul>

</fieldset>-->

<fieldset>
    <legend>Register</legend>
    <ul>
        <li ng-repeat="message in register_controller.validationMessages">
            {{message}}
        </li>
    </ul>

    <form ng-submit="register_controller.register()">
        <div>
            <table>
                <tr>
                    <td><label>Email:</label></td>
                    <td><input ng-model="register_controller.registerUser.email" /></td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td><input ng-model="register_controller.registerUser.password" /></td>
                </tr>
                <tr>
                    <td><label>Confirm Password:</label></td>
                    <td><input ng-model="register_controller.registerUser.confirmPassword" /></td>
                </tr>
            </table>
        </div>
        <br />

        <input type="submit" value="Register" />
    </form>

</fieldset>
