<h2>Profile</h2>
<!--<p>
    {{profile_controller.message}}
</p>-->
<br />

<form ng-submit="profile_controller.editUser()">
    <table>
        <tr>
            <td>
                <label>ID</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.id" />
            </td>
        </tr>
        <tr>
            <td>
                <label>User Name</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.userName" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.passwordHash" />
            </td>
        </tr>
        <tr>
            <td>
                <label>First Name</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.firstName" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Last Name</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.lastName" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Nickname</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.nickname" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Birthday</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.birthday | date:'MMM dd, yyyy'" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Mail Street1</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.mailStreet1" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Street2</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.mailStreet2" />
            </td>
        </tr>
        <tr>
            <td>
                <label>City</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.mailCity" />
            </td>
        </tr>
        <tr>
            <td>
                <label>State</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.mailState" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Zip</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.mailZip" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Physical Street1</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.physicalStreet1" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Street2</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.physicalStreet2" />
            </td>
        </tr>
        <tr>
            <td>
                <label>City</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.physicalCity" />
            </td>
        </tr>
        <tr>
            <td>
                <label>State</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.physicalState" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Zip</label>
            </td>
            <td>
                <input ng-model="profile_controller.user.physicalZip" />
        </tr>
    </table>
    <input type="submit" />
</form>