<h2 class="keeptogether">Receipts</h2>
<a href="#" ng-click="receipts_controller.showReceiptAdd_Modal()">>>>></a>
<button class="btn" ng-click="receipts_controller.showReceiptAdd_Modal()">ADD</button>
<!--<p>
    {{receipts_controller.message}}
</p>-->
<br />

<!-- CREATE ------------------------------------------------------------------------------------------------------>
<!--<h3>CREATE</h3>

<form ng-submit="receipts_controller.addReceipt(addReceipt)">
    <table class="table table-striped">
        <tr>
            <th>Purchase Date</th>
            <th>Note</th>
            <th>Submit</th>
        </tr>
        <tr>
            <td>
                <input ng-model="addReceipt.purchaseDate" placeholder="Purchase Date" />
            </td>
            <td>
                <input ng-model="addReceipt.note" placeholder="Note" />
            </td>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
</form>-->

<!-- READ ------------------------------------------------------------------------------------------------------>
<!--<h3>READ</h3>-->
<table class="table table-striped">
    <tr>
        <th>Purchase Date</th>
        <th>Note</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Items</th>
    </tr>
    <tr ng-repeat="receipt in receipts_controller.receipts | orderBy:'purchaseDate'">
        <td >{{receipt.purchaseDate | date:'mediumDate'}}</td>
        <td>{{receipt.note}}</td>
        <td><button ng-click="receipts_controller.showEdit(receipt)">Edit</button></td>
        <td><button ng-click="receipts_controller.showDelete(receipt)">Delete</button></td>
        <td><a ui-sref="items({receiptid: receipt.id})"> >>> </a></td>       
    </tr>
</table>

<!-- UPDATE ------------------------------------------------------------------------------------------------------>
<div ng-show="receipts_controller.blnShowEdit">
    <h3 class="keeptogether">{{receipts_controller.strAction}}</h3>
    <button ng-click="receipts_controller.hideEdit()">Cancel</button>

    <form ng-submit="receipts_controller.editReceipt()">
        <table class="table table-striped">
            <tr>
                <th ng-show="false">ID</th>
                <th>Purchase Date</th>
                <th>Note</th>
                <th>Submit</th>
            </tr>
            <tr>
                <td ng-show="false">
                    <input ng-model="receipts_controller.receipt.id" placeholder="ID" />
                </td>
                <td>
                    <input ng-model="receipts_controller.receipt.purchaseDate" placeholder="Purchase Date" />
                </td>
                <td>
                    <input ng-model="receipts_controller.receipt.note" placeholder="Note" />
                </td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- DELETE ------------------------------------------------------------------------------------------------------>
<div ng-show="receipts_controller.blnShowDelete">
    <h3 class="keeptogether">{{receipts_controller.strAction}}</h3>
    <button ng-click="receipts_controller.hideDelete()">Cancel</button>

    <form ng-submit="receipts_controller.deleteReceipt()">
        <table class="table table-striped">
            <tr>
                <th ng-show="false">ID</th>
                <th>Purchase Date</th>
                <th>Note</th>
                <th>Submit</th>
            </tr>
            <tr>
                <td ng-show="false">{{receipts_controller.receipt.id}}</td>
                <td>{{receipts_controller.receipt.purchaseDate | date:'MMM dd, yyyy'}}</td>
                <td>{{receipts_controller.receipt.note}}</td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</div>