<h2>Login</h2>
<!--<p>
    {{login_controller.message}}
</p>-->
<br />

<!--<fieldset>
    <legend>Login with a Social Provider</legend>

    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
        </li>
    </ul>

</fieldset>-->

<fieldset>
    <legend>Login</legend>
    <ul>
        <li ng-repeat="error in login_controller.validationMessages">
            {{error}}
        </li>
    </ul>

    <form ng-submit="login_controller.login()">

        <table>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input ng-model="login_controller.loginUser.email" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    <input ng-model="login_controller.loginUser.password" />
                </td>
            </tr>
        </table>
        <br />

        <input type="submit" value="Login" />
        <a href="/register">Register</a>
    </form>
</fieldset>
