<h2>Profile</h2>
<p>
    {{profile_controller.message}}
</p>
<br />

<form ng-submit="profile_controller.editUser()">
    <label>ID</label><input ng-model="profile_controller.user.id" /><br />
    <label>User Name</label><input ng-model="profile_controller.user.userName" /><br />
    <label>Password</label><input ng-model="profile_controller.user.passwordHash" /><br />
    <label>First Name</label><input ng-model="profile_controller.user.firstName" /><br />
    <label>Last Name</label><input ng-model="profile_controller.user.lastName" /><br />
    <label>Nickname</label><input ng-model="profile_controller.user.nickname" /><br />
    <label>Birthday</label><input ng-model="profile_controller.user.birthday" /><br />
    <label>Mail Street1</label><input ng-model="profile_controller.user.mailStreet1" /><br />
    <label>Street2</label><input ng-model="profile_controller.user.mailStreet2" /><br />
    <label>City</label><input ng-model="profile_controller.user.mailCity" /><br />
    <label>State</label><input ng-model="profile_controller.user.mailState" /><br />
    <label>Zip</label><input ng-model="profile_controller.user.mailZip" /><br />
    <label>Physical Street1</label><input ng-model="profile_controller.user.physicalStreet1" /><br />
    <label>Street2</label><input ng-model="profile_controller.user.physicalStreet2" /><br />
    <label>City</label><input ng-model="profile_controller.user.physicalCity" /><br />
    <label>State</label><input ng-model="profile_controller.user.physicalState" /><br />
    <label>Zip</label><input ng-model="profile_controller.user.physicalZip" /><br />
    <br />

    <input type="submit" />
</form>